@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #070917;
  --foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #0C0D1F;
  --popover: #ffffff;
  --popover-foreground: #0C0D1F;
  --primary: #070917;
  --primary-foreground: #ffffff;
  --secondary: #0C0D1F;
  --secondary-foreground: #ffffff;
  --muted: #e5e7eb;
  --muted-foreground: #6b7280;
  --accent: #0ea5e9;
  --accent-foreground: #ffffff;
  --destructive: #dc2626;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #60a5fa;
  --chart-1: #fbbf24;
  --chart-2: #34d399;
  --chart-3: #60a5fa;
  --chart-4: #a78bfa;
  --chart-5: #f472b6;
  --sidebar: #0C0D1F;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #070917;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #0ea5e9;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #60a5fa;
}

.dark {
  --background: #070917;
  --foreground: #ffffff;
  --card: #0C0D1F;
  --card-foreground: #ffffff;
  --popover: #0C0D1F;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #070917;
  --secondary: #1f2937;
  --secondary-foreground: #ffffff;
  --muted: #374151;
  --muted-foreground: #d1d5db;
  --accent: #3b82f6;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #6366f1;
  --chart-1: #f472b6;
  --chart-2: #6ee7b7;
  --chart-3: #93c5fd;
  --chart-4: #c4b5fd;
  --chart-5: #f9a8d4;
  --sidebar: #0C0D1F;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #070917;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #3b82f6;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #6366f1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-[#070917] text-foreground;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.scrollbar-hide>div>* {
  scroll-snap-align: start;
}